Character_Generic_Framework/resources/data/MartialArtsCharms.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 sp1 U (http://www.xmlspy.com) by Reupke (-) -->
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Reupke (None) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<!--This defines an XML file containing Charms for White Wolfs "Exalted". Document Version 1.7-->
	<xs:element name="charmlist">
		<xs:annotation>
			<xs:documentation>A set of Charms</xs:documentation>
		</xs:annotation>
		<!--Defines a set of charms-->
		<xs:complexType>
			<xs:sequence>
				<xs:element name="charm" type="charmType" maxOccurs="unbounded"/>
				<!--Defines a single charm-->
			</xs:sequence>
			<xs:attribute name="commonsource" type="xs:token" use="optional">
				<xs:annotation>
					<xs:documentation>Indicates that all charms in the list are from a common source and specifies that source.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="commonexalt" type="exaltType" use="optional">
				<xs:annotation>
					<xs:documentation>Specifies an common exalt type for all charms in the list.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="commonprereqtype" type="xs:token" use="optional">
				<xs:annotation>
					<xs:documentation>Specifies a common prerequisite type (i.e. Ability) for all charms in the list</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="commonprereqname" type="xs:token" use="optional">
				<xs:annotation>
					<xs:documentation>Specifies a common prerequisite (i.e. Archery) for all charms in the list</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="charmType">
		<xs:annotation>
			<xs:documentation>A single charm</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="prerequisite" type="prerequisiteContType"/>
			<xs:element name="cost">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="temporary" type="costContType"/>
						<xs:element name="permanent" type="permanentCostContType" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="martialArtsLevel" type="martialArtsLevelType"/>
			<xs:element name="combo" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="restrictions" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="charm" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:attribute name="id" type="xs:token" use="required"/>
										</xs:complexType>
									</xs:element>
									<xs:element name="charmtype" type="charmtypeType" minOccurs="0" maxOccurs="unbounded"/>
									<xs:element name="traitReference" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:attribute name="id" type="xs:token" use="required"/>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="comboable" type="xs:boolean" use="optional" default="true"/>
					<xs:attribute name="allAbilities" type="xs:boolean" use="optional" default="false"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="duration">
				<xs:complexType>
					<xs:attribute name="duration" type="xs:token" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="type" type="charmtypeType"/>
			<xs:element name="source" minOccurs="0">
				<xs:complexType>
					<xs:attribute name="source" type="xs:token" use="required"/>
					<xs:attribute name="page" type="xs:nonNegativeInteger" use="optional"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:token" use="required">
			<xs:annotation>
				<xs:documentation>The handling ID of the charm. If possible, it should resemble the charm name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="exalt" type="exaltType" use="required">
			<xs:annotation>
				<xs:documentation>Specifies the Exalt type for this charm.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="group" type="xs:token" use="required">
			<xs:annotation>
				<xs:documentation>Defines the Charm group this charm belongs to</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="positionHint" type="positionHint" use="optional" default="0">
			<xs:annotation>
				<xs:documentation>
					Used for automated creation of Charm Cascades. 
					First number is for internal order in each level, 
					a number after an 'L' fixes a node to the number's level, 
					a number after an 'A' forces all Charms with the same number to be aligned under the highest Charm with that number and 
					a '!' followed by either 'u', 'd' or 'z' signifies a central Charm which splits the tree in a upper and lower half.
						with 'u' the upper part is moved to fit the lower part, 
						with 'd' the lower part is moved to fit the upper part,
						with 'z' the Charm itself is moved to the average of the lower and upper center.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="costContType">
		<xs:annotation>
			<xs:documentation>A container of costs</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="essence" type="costType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Essence cost in motes and additional text, i.e. "per 2 dice"</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="willpower" type="costType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Willpower cost in temporary Willpower points, possibly text</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="health" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Health cost in health levels, additional text and the type of damage taken.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="costType">
							<xs:attribute name="type" use="optional" default="Lethal">
								<xs:simpleType>
									<xs:restriction base="xs:token">
										<xs:enumeration value="Bashing"/>
										<xs:enumeration value="Lethal"/>
										<xs:enumeration value="Aggravated"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="permanentCostContType">
		<xs:complexContent>
			<xs:extension base="costContType">
				<xs:sequence>
					<xs:element name="experience" type="costType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Experience points to be paid for Charm use, additional text</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="prerequisiteContType">
		<xs:annotation>
			<xs:documentation>A container of prerequisites</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="trait" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Specifies a prerequisite characteristic by stating the type, name and minimum value.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="id" type="xs:token" use="required"/>
					<xs:attribute name="value" type="xs:nonNegativeInteger" use="required">
						<xs:annotation>
							<xs:documentation/>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="essence">
				<xs:annotation>
					<xs:documentation>Minimum Essence value to learn the Charm</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="value" type="xs:nonNegativeInteger"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="charm" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Lists another Charm as prerequisite for this Charm. Zero occurences define a root Charm.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="id" type="xs:token" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="costType">
		<xs:annotation>
			<xs:documentation> Common elements of costs</xs:documentation>
		</xs:annotation>
		<xs:attribute name="cost" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:pattern value="([0-9]+\+?|Varies|None|Spell's|Special)"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="text" type="xs:token" use="optional">
			<xs:annotation>
				<xs:documentation>Contains possible descriptive data.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="charmtypeType">
		<xs:annotation>
			<xs:documentation>Possible Charm types.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="type" use="required">
			<xs:annotation>
				<xs:documentation>Possible values are "Simple", "Extra Action", "Supplemental", "Reflexive" as well as "Special" (for the likes of Ox-Body-Technique)</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="Simple"/>
					<xs:enumeration value="ExtraAction"/>
					<xs:enumeration value="Reflexive"/>
					<xs:enumeration value="Supplemental"/>
					<xs:enumeration value="Special"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="martialArtsLevelType">
		<xs:annotation>
			<xs:documentation>Possible Martial Arts levels.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="level" use="required">
			<xs:annotation>
				<xs:documentation>Possible values are "Terrestrial", "Celestial", "Sideral".</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="Terrestrial"/>
					<xs:enumeration value="Celestial"/>
					<xs:enumeration value="Sidereal"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="exaltType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="Solar"/>
			<xs:enumeration value="Dragon-Blooded"/>
			<xs:enumeration value="Lunar"/>
			<xs:enumeration value="Abyssal"/>
			<xs:enumeration value="Sidereal"/>
			<xs:enumeration value="Alchemical"/>
			<xs:enumeration value="Spirit"/>
			<xs:enumeration value="Ghost"/>
			<xs:enumeration value="Raksha"/>
			<xs:enumeration value="MountainFolk"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="id">
		<xs:restriction base="xs:token">
			<xs:pattern value="([a-z]|[A-Z]|[0-9])+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="positionHint">
		<xs:restriction base="xs:token">
			<xs:pattern value="-?[0-9]*(L[0-9]*)?(A[0-9]*)?(![u|d|z])?"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
